.container {
    margin: auto;
    width: 600px;
    height: 200px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.item_1, .item_3 {
    background-position: center;
    background-repeat: no-repeat;
}

.item_1 {
    background-image: url("left.png");
}

.item_3 {
    background-image: url("right.png");
}

.item_2 {
    overflow: hidden;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
}

.text {
    color: #ffffff;
    font-size: 450%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-1 { background-image: url("img/allSasons.jpg")}
.c-2 { background-image: url("img/winter.jpg")}
.c-3 { background-image: url("img/spring.jpg")}
.c-4 { background-image: url("img/summer.jpg")}
.c-5 { background-image: url("img/autumn.jpg")}

