html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background-color: #d1ff99;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contentItem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    display: grid;
    background-size: contain;
}

.contentItem:nth-child(1) { background-image: url("img/allSasons.jpg"); }
.contentItem:nth-child(2) { background-image: url("img/winter.jpg"); }
.contentItem:nth-child(3) { background-image: url("img/spring.jpg"); }
.contentItem:nth-child(4) { background-image: url("img/summer.jpg"); }
.contentItem:nth-child(5) { background-image: url("img/autumn.jpg"); }
.contentItem:nth-child(6) { background-image: url("img/itWereAllSeasons.jpg"); }

.contentItem>.item { background-color: #5d12ff; opacity: 0;}
.contentItem>.item:nth-child(1) { grid-column: 1/1;}
.contentItem>.item:nth-child(2) { grid-column: 4/4;}
.contentItem>.item:nth-child(3) { grid-column: 1/1; grid-row: 4/4;}
.contentItem>.item:nth-child(4) { grid-column: 4/4; grid-row: 4/4;}

.active {
    top: 0%;
    transition: all 1s;
}

.activeEarly {
    top: 100%;
    transition: top 1s;
}

.state {
    top: 0;
}
