
a{text-decoration: none}

.section-sixth{padding: 100px 0;position: relative}

.section-sixth__slider{
    width: 600px;
    margin: 0 auto;
    overflow:hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}

.section-sixth__slider_item {width: inherit;text-align: center;display: none;position: relative}
.section-sixth__slider_item.active{display: block}

.section-sixth__slider_dots{margin-left: 860px;margin-top: 20px}
.section-sixth__slider_dot {color: #000;margin-right: 20px; border: 1px solid black;border-radius: 30px}
.section-sixth__slider_dot.active{ color: red;margin-right: 20px;border: 1.5px solid red}

.section-sixth__slider_btn-next{position: absolute;top: 150px;right: 550px;z-index: 20}
.section-sixth__slider_btn-prev{position: absolute;top: 150px;left: 550px;z-index: 20}